body {
      background-color: #90C7FD;
      font-size: 150%;
      color:white;
      letter-spacing: 7px;
      font-family: cursive
      
      
}

ul {
  list-style-type: none;
}
body{
  background-color:#121D5E;
}
